@using Aeropuerto.ViewModel
@model List<InfoVueloViewModel>

<h1>InfoVuelos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.Label("Vuelo Número")</th>
            <th>@Html.Label("Aerolínea")</th>
            <th>@Html.Label("País de Destino")</th>
            <th>@Html.Label("Modelo del Avión")</th>
            <th>@Html.Label("Hora de Salida")</th>
            <th>@Html.Label("Hora de Llegada")</th>
            <th>@Html.Label("Fecha de Salida")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.VueloId)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreAerolinea)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td>@Html.DisplayFor(modelItem => item.ModeloAvion)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraLlegada)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraSalida)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>
                    @* Acciones para editar, detalles y eliminar
                <a asp-action="Edit" asp-route-id="@item.VueloId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.VueloId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.VueloId" class="btn btn-danger">Delete</a>
                *@
                </td>
            </tr>
        }
    </tbody>
</table>

