@model IEnumerable<Aeropuerto.Models.Horario>

@{
    ViewData["Title"] = "Horarios";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.HoraSalida)</th>
            <th>@Html.DisplayNameFor(model => model.HoraLlegada)</th>
            <th>@Html.DisplayNameFor(model => model.Vuelo.VueloId)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraSalida)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraLlegada)</td>
                <td>@Html.DisplayFor(modelItem => item.Vuelo.VueloId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HorarioId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.HorarioId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.HorarioId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
