@model Aeropuerto.Models.Vuelo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aerolinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aerolinea.AerolineaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avion.AvionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino.DestinoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VueloId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
