@model IEnumerable<Aeropuerto.Models.Vuelo>

@{
    ViewData["Title"] = "Vuelos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Aerolinea.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Avion.Modelo)</th>
            <th>@Html.DisplayNameFor(model => model.Destino.Pais)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Aerolinea.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Avion.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Destino.Pais)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VueloId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.VueloId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VueloId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
